<%- include('../partials/head', { title: 'Home - Products', styles: ['category'] }) %>
    <%- include('../partials/header')%>
    <main>
        <% if (products && products.length > 0) { %>
            <h1>Product: <%= products[0].category.name %></h1>
            <div class="card-container" id="<%= products[0].id %>">
              <img class="img-card" src="<%= products[0].img %>" alt="">
              <h2 class="card-price">$<%= products[0].price %></h2>
              <h3 class="card-name"><%= products[0].name %></h3>
              <p class="card-description"><%= products[0].description %></p>
              <button class="card-button" idProduct="<%= products[0].id %>">Add to cart</button>
            </div>
          <% } else { %>
            <h1>This product doesn't exist </h1>
          <% } %>
    </main>
    <%- include('../partials/footer')%>
    <script src="/js/menu.js"></script>
</body>

</html>